{{
  (
    (content or "")
      | textarea(
        "form-control textarea-mde-" ~ id ~ " " ~ classes,
        id = id,
        rows = rows 
      )
      ~ ""
        | mde.md_script(id = id, theme=theme)
        | script
  ) | safe
}}