{{
  (
    (content or "")
      | textarea(
        "form-control textarea-mde-" ~ id ~ " " ~ classes
        id = id,
        rows = rows 
      )
    ~ md_script(id)
      | script
  )
   | safe
}}