{{
  (
    wtff.field_label(field) 
    ~ field(
      class="textarea-mde-" ~ field.id ~ " " ~ classes,
      value = field.data
    )
    ~ wtff.field_errors(field) 
    ~ ""
      | mde.md_script(id = field.id)
      | script
  ) | safe
}}