document.addEventListener("DOMContentLoaded", function () {
  var el = document.getElementById("{{ id|safe }}");
  var mde = new SimpleMDE({ element: el });
  mde.codemirror.setOption("theme", "{{theme}}");
});