{# 
Codemirror ENV Viewer
SIGNATURE:
env_viewer(
  content = "",
  classes =" ",
  id = "",
  theme = "monokai",
  line_wrapping = False,
  line_numbers = True,
  viewport_margin = "Infinity",
  no_script = False,
  width = None,
  height = None,
)
#}

{{ 
  cm.codemirror(
    content,
    classes = classes,
    id = id,
    mode = "properties",
    read_only = "nocursor",
    theme = theme,
    line_wrapping = line_wrapping,
    line_numbers = line_numbers,
    viewport_margin = viewport_margin,
    no_script = no_script,
    width = width,
    height = height,
  ) | safe
}}
